/* Adjust the container to center content vertically and horizontally */
.FG_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-color: #f5f5f5; /* Optional: Light background color */
}

.RPP_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 1050px;
    border: 0.3px solid rgb(227, 226, 226);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white; /* Optional: White background for the container */
}

.RPP_illustration {
    width: 50%;
    height: 100%;
    background-color: #f0f3ff;
    border-right: 0.1px solid rgb(227, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
}

.RPP_illustration img {
    height: 60%;
}

.RPP_form_container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0.1px solid rgb(227, 226, 226);
}

.RpP_mainc {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 75%;
    gap: 2px;
}

.RpP_mainc h2 {
    font-style: italic;
    width: 100%;
    font-size: 24px;
}

.RpP_mainc p {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #888;
}

.RpP_mainc label {
    margin-bottom: 5px;
    color: #555;
}

.RpP_mainc input[type="email"],
.RpP_mainc input[type="password"] {
    width: 96.5%;
    padding-left: 11px;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: #e9e9e9;
    margin-bottom: 10px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    letter-spacing: 0.7px;
    outline-color: #007bff;
}

.RpP_mainc button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.RpP_mainc button:hover {
    background-color: #5753d9;
}

@media (max-width: 800px) {
    .RPP_container {
        height: auto;
        width: 90%;
        border: 0;
        box-shadow: 0 0 0;
    }
    .RPP_illustration {
        display: none;
    }
    .RPP_form_container {
        border: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .RpP_mainc h2 {
        font-size: 25px;
    }
    .RpP_mainc p {
        font-size: 13px;
    }
    .RpP_mainc input[type="email"],
    .RpP_mainc input[type="password"] {
        width: 95%;
    }
}

@media (max-width: 350px) {
    .RPP_form_container {
        border: 0;
        width: 98%;
    }
}
