::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #181818;
  display: none;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#2c2c2e, #b3b0b2);
  border-radius: 7px;
  display: none;
}