::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #181818;
  display: none;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#2c2c2e, #b3b0b2);
  border-radius: 7px;
  display: none;
}
.custom-dropdown-menu .ant-dropdown-menu {
  background-color: black;
  color: white;
}

.custom-dropdown-menu .ant-dropdown-menu-item {
  color: white;
}

.custom-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
